$primary-color: #fff;
$primary-text: #757575;
$secondary-text: #212121;
$hover-text: #2196f3;
$border: #eeeeee;
$logo-color: #000;
$header-line: #ececec;
$background-mix: #2f303a66;
$background-card: #f5f4fa;
$background-footer: #2f303a;
$background-outside: #e5e5e5;
$icon-background: #afb1b8;
$footer-link: #ffffff99;
$footer-icon: #ffffff1a;
$background-backdrop: #00000033;
$placeholder-text: #75757580;
$border-color: #21212133;
